@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans');

@media (max-width: 479px) {
	#portrait {
		text-align: center;
		font-weight: 700;
		height: 100%;
}
	#landscape {
		display: none;
	}
}

@media (min-width: 480px) {
	#portrait {
		display: none;
	}
}

@media (max-width: 570px) {
	.y-axis {
		left: 40px;
	}
	.two, .three, .four {
		width: 75%;
	}
}

@media (min-width: 571px) and (max-width: 960px) {
	.y-axis {
		left: 7%;
	}
	.two, .three, .four {
		width: 47%;
	} /* .four 30%? */
}

@media (max-width: 960px) {
	#menu {
		position: absolute;
		visibility: hidden;
	}
	input[type=checkbox]:checked ~ #menu {
		visibility: visible;
		position: fixed;
		background-color: #7a796a;
		/*margin: 26px 0 0 0;*/
		padding: 25px 25px 25px 25px;
		line-height: 1.5em;
	}

	#logo {
		display: none !important;
	}

	#logo2 {
		visibility: visible !important;
	}

	#burger {
		visibility: visible !important;
		margin: auto;
	}

	#left, #right, .padding {
		width: 7vw;
		min-width: 40px;
	}
	.first, .second, .third, .last {
		margin: 0 1%;
	}

	.stylenav {
		display: none;
	}
}

@media (min-width: 961px) {
	#menu li {
		display: inline-block;
	}

	#logo {
		visibility: visible !important;
	}

	#logo2 {
		display: none !important;
	}

	#burger {
		display: none !important;
	}

	.show-menu, .show-menu2 {
		position: absolute;
		visibility: hidden;
	}
	#left, #right, .padding {
		width: 5%;
	}
	.y-axis {
		left: 5%;
	}
	.first, .second, .third {
		margin-left: 1%;
	}
	.last {
		margin: 0 1%;
	}
	.two {
		width: 48%;
	}
	.three {
		width: 31%;
	}
	.four {
		width: 23%;
	}
}

html, body {
	margin: 0;
	font-family: 'Quattrocento Sans', sans-serif;
	/*color: #555;*/
	height: 100%;
}

body {
	background-image: url("./images/parchment-texture.jpg");
    background-repeat: repeat;
}

header {
	position: fixed;
	z-index: 3;
	background-color: #000;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	width: 100%;
}

input[type=checkbox] {
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type=submit] {
	border: 0;
}

input[type=text] {
	font: 1em Helvetica, 'Open Sans', Helvetica, sans-serif;
	margin-bottom: 25px;
	padding: 15px 3%;
	width: 93%;
}

button {
	border: 0;
	background-color: #6a1a76;
	cursor: pointer;
	color: #e6e6e2;
	font-size: 1em;
	padding: 7px 5% 10px;
	line-height: 1.5;
	width: 100%;
	max-width: 175px;
}

h1 {
	font-size: 0;
}

h2 {
	margin-bottom: 5%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #6a1a76;
	transition: color 0.3s ease;
}

a:hover {
	/*border-bottom: 1px solid;*/
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}

span {
	display: inline-block;
}

#logo {
	float: left;
	/*margin-top: 7px;  needs changing: should be vertical aligned instead */
	/*margin-right: 3%;  why needed with #top padding? */
	background: url(./images/logo.png) center no-repeat;
	background-size: 170px 64px;
	height: 64px;
	width: 170px;
	vertical-align: middle;
}

#logo2 {
	float: left;
	/*margin-top: 7px;  needs changing: should be vertical aligned instead */
	/*margin-right: 3%;  why needed with #top padding? */
	background: url(./images/logo.png) center no-repeat;
	background-size: 170px 64px;
	height: 64px;
	width: 170px;
	vertical-align: middle;
}

#top {
	float: left;
	margin-top: 0px; /* needs changing: should be vertical aligned instead */
	padding: 0 2%;
	height: 64px;
}

#top-right {
	float: right;
	margin-top: 0px; /* needs changing: should be vertical aligned instead */
	padding: 0 2%;
	height: 64px;
}

#menu li {
	/*margin-top: 3px;*/
	margin-right: 0px;
	position: relative;
}

#menu li a {
	display: block;
	color: #e6e6e2;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 0px;
	height: 0px;
	padding: 32px 17px;
}

#menu li a:hover {
	background-color: rgba(106, 26, 118, 0.7);
	/*border-bottom: white 0px solid;*/ 
}

.active {
	background-color: rgba(106, 26, 118, 1);
	/*border-bottom: white 0px solid; */
}

.show-menu {
	font-size: 0;
	text-decoration: none;
	cursor: pointer;
	/*background: *url(./images/arrow.png) no-repeat 15px 23px #6a1a76;*/
	padding: 32px;
} /* needs changing: shouldn't be space on the left */


.circle {
	background-color: rgba(106, 26, 118, 1);
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	text-align: center;
	color: #e6e6e2;
	height: 30px;
	width: 30px;
}

.vertical-align {
	vertical-align: middle;
	height: 100%;
}

#invite {
	margin-top: 64px;
	background-color: #f70;
	text-align: center;
	font-size: 0.9em;
	font-weight: 600;
	color: #e6e6e2;
	height: 64px;
}

.nav-height {
	height: 64px;
}

.nav-invite-height {
	height: 128px;
}

.nav-position {
	top: 64px;
}

.nav-invite-position {
	top: 128px;
}

#left, #right {
	position: fixed;
	z-index: 2;
	/*background-color: #e6e6e2;*/
	text-align: center;
	height: 100%;
}

#right {
	right: 0;
}

.table {
	position: absolute; /* is there another way? float left from position sticky div? */
	display: table;
	width: 100%;
}

.padding {
	display: table-cell;
}

#welcome {
	margin: 0 auto;
	padding-top: 1%;
	width: 75%;
	max-width: 500px;
}

#calendar {
	display: table-cell;
}

#main {
	display: table-cell;
	padding-top: 5%;
	text-align: center;
}

.columns {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 25px; /* needs changing */
	text-align: left;
}

.sticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}

.x-axis {
	background-color: none;
	margin-top: 20px;
}

.y-axis {
	z-index: 1;
	padding: 0 1em 0px 0; /* padding-right could be lower in lower res */
	vertical-align: top; /* for table-cell */
	line-height: 42px;
	text-align: right;
	font-size: 0.8em;
	width: 3em;
}

/*.weekend {
	background-color: #eef;
}
*/
.day {
	float: left;
	text-align: center;
	width: 14.25%;
	min-width: 100px;
}

.checkbox {
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.checkbox label {
	display: block;
	cursor: pointer;
}

.time label {
	height: 20px;
}

.time {
	margin: 0px 1px 1px 0px;
}

.interest {
	background-color: rgba(106, 26, 118, 0.7);
	font-size: 1.25em;
	color: #e6e6e2;
}

.interest label {
	padding: 1em;
	height: 1em;
}

.no-touch .checkbox:hover, .checkbox input[type=checkbox]:checked + label {
	background: rgba(106, 26, 118, 0.7);
}

.box {
	position: relative;
	background-color: lightblue;
	padding: 20px;
	line-height: 1.3em;
	text-align: left;
	color: #e6e6e2;
}

.box a, .box-text {
	vertical-align: top;
	font-size: 0.9em;
}

.box-title {
	font-size: 1.5em;
}

/*---------------hamburger menu---------------*/

#menuToggle {
	display: block;
	/*position: relative;*/
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	  
	cursor: pointer;
	  
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	  
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	  
	background: #e6e6e2;
	border-radius: 3px;
	  
	z-index: 1;
	  
	transform-origin: 4px 0px;
	  
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark. */

 /* top bar */
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	/*background: #232323;*/
}

/* middle bar */
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/* bottom bar */
#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0px, -1px);
}



/*---------------table div colors--------------*/
/*---------------weekday colors--------------*/

.a0 {
	background-color: rgba(88,93,77,0.8);
}

.a1 {
	background-color: rgba(92,96,81,0.7);
}

.a2 {
	background-color: rgba(96,100,84,0.79);
}

.a3 {
	background-color: rgba(100,103,88,0.69);
}

.a4 {
	background-color: rgba(105,107,92,0.78);
}

.a5 {
	background-color: rgba(108,110,95,0.68);
}

.a6 {
	background-color: rgba(113,113,99,0.77);
}

.a7 {
	background-color: rgba(116,116,102,0.67);
}

.a8 {
	background-color: rgba(120,120,106,0.76);
}

.a9 {
	background-color: rgba(124,122,109,0.66);
}

.a10 {
	background-color: rgba(127,125,112,0.75);
}

.a11 {
	background-color: rgba(131,128,115,0.65);
}

.a12 {
	background-color: rgba(133,130,117,0.74)
}

.a13 {
	background-color: rgba(127,125,112,0.64);
}

.a14 {
	background-color: rgba(133,130,117,0.73);
}

.a15 {
	background-color: rgba(132,129,116,0.63);
}

.a16 {
	background-color: rgba(132,129,116,0.72);
}

.a17 {
	background-color: rgba(132,129,116,0.62);
}

.a18 {
	background-color: rgba(131,129,115,0.71);
}

.a19 {
	background-color: rgba(131,128,115,0.61);
}

.a20 {
	background-color: rgba(130,128,114,0.70);
}

.a21 {
	background-color: rgba(130,127,114,0.60);
}

.a22 {
	background-color: rgba(129,127,113,0.70);
}

.a23 {
	background-color: rgba(129,127,113,0.60);
}

.a24 {
	background-color: rgba(128,126,112,0.70);
}

.a25 {
	background-color: rgba(127,125,111,0.60);
}

.a26 {
	background-color: rgba(126,125,110,0.70);
}

.a27 {
	background-color: rgba(126,124,110,0.60);
}

.a28 {
	background-color: rgba(125,124,109,0.71);
}

.a29 {
	background-color: rgba(124,123,108,0.61);
}

.a30 {
	background-color: rgba(123,122,107,0.72);
}

.a31 {
	background-color: rgba(122,121,106,0.62);
}

.a32 {
	background-color: rgba(121,120,105,0.73);
}

.a33 {
	background-color: rgba(118,117,103,0.63);
}

.a34 {
	background-color: rgba(115,114,101,0.74);
}

.a35 {
	background-color: rgba(111,111,98,0.64);
}

.a36 {
	background-color: rgba(108,108,96,0.75);
}

.a37 {
	background-color: rgba(105,106,94,0.65);
}

.a38 {
	background-color: rgba(102,103,91,0.76);
}

.a39 {
	background-color: rgba(98,99,88,0.66);
}

.a40 {
	background-color: rgba(95,96,86,0.77);
}

.a41 {
	background-color: rgba(91,93,83,0.67);
}

.a42 {
	background-color: rgba(87,89,80,0.78);
}

.a43 {
	background-color: rgba(84,86,78,0.68);
}

.a44 {
	background-color: rgba(79,82,75,0.79);
}

.a45 {
	background-color: rgba(76,79,72,0.69);
}

.a46 {
	background-color: rgba(72,75,69,0.80);
}

.a47 {
	background-color: rgba(68,72,67,0.70);
}

/*-----------weekend colors below-------------*/

.b0 {
	background-color: rgba(88,93,77,0.6);
}

.b1 {
	background-color: rgba(92,96,81,0.5);
}

.b2 {
	background-color: rgba(96,100,84,0.59);
}

.b3 {
	background-color: rgba(100,103,88,0.49);
}

.b4 {
	background-color: rgba(105,107,92,0.58);
}

.b5 {
	background-color: rgba(108,110,95,0.48);
}

.b6 {
	background-color: rgba(113,113,99,0.57);
}

.b7 {
	background-color: rgba(116,116,102,0.47);
}

.b8 {
	background-color: rgba(120,120,106,0.56);
}

.b9 {
	background-color: rgba(124,122,109,0.46);
}

.b10 {
	background-color: rgba(127,125,112,0.55);
}

.b11 {
	background-color: rgba(131,128,115,0.45);
}

.b12 {
	background-color: rgba(133,130,117,0.54)
}

.b13 {
	background-color: rgba(127,125,112,0.44);
}

.b14 {
	background-color: rgba(133,130,117,0.53);
}

.b15 {
	background-color: rgba(132,129,116,0.43);
}

.b16 {
	background-color: rgba(132,129,116,0.52);
}

.b17 {
	background-color: rgba(132,129,116,0.42);
}

.b18 {
	background-color: rgba(131,129,115,0.51);
}

.b19 {
	background-color: rgba(131,128,115,0.41);
}

.b20 {
	background-color: rgba(130,128,114,0.50);
}

.b21 {
	background-color: rgba(130,127,114,0.40);
}

.b22 {
	background-color: rgba(129,127,113,0.50);
}

.b23 {
	background-color: rgba(129,127,113,0.40);
}

.b24 {
	background-color: rgba(128,126,112,0.50);
}

.b25 {
	background-color: rgba(127,125,111,0.40);
}

.b26 {
	background-color: rgba(126,125,110,0.50);
}

.b27 {
	background-color: rgba(126,124,110,0.40);
}

.b28 {
	background-color: rgba(125,124,109,0.51);
}

.b29 {
	background-color: rgba(124,123,108,0.41);
}

.b30 {
	background-color: rgba(123,122,107,0.52);
}

.b31 {
	background-color: rgba(122,121,106,0.42);
}

.b32 {
	background-color: rgba(121,120,105,0.53);
}

.b33 {
	background-color: rgba(118,117,103,0.43);
}

.b34 {
	background-color: rgba(115,114,101,0.54);
}

.b35 {
	background-color: rgba(111,111,98,0.44);
}

.b36 {
	background-color: rgba(108,108,96,0.55);
}

.b37 {
	background-color: rgba(105,106,94,0.45);
}

.b38 {
	background-color: rgba(102,103,91,0.56);
}

.b39 {
	background-color: rgba(98,99,88,0.46);
}

.b40 {
	background-color: rgba(95,96,86,0.57);
}

.b41 {
	background-color: rgba(91,93,83,0.47);
}

.b42 {
	background-color: rgba(87,89,80,0.58);
}

.b43 {
	background-color: rgba(84,86,78,0.48);
}

.b44 {
	background-color: rgba(79,82,75,0.59);
}

.b45 {
	background-color: rgba(76,79,72,0.49);
}

.b46 {
	background-color: rgba(72,75,69,0.60);
}

.b47 {
	background-color: rgba(68,72,67,0.50);
}